
.carousel-inner {
    max-height: 39rem;
    min-height: 39rem;
    object-fit: contain;
    object-position: center;
    background-color: rgba(30, 30, 47, 0.8)
}

.dropdown-item:hover {
    background-color: #f8f9fa !important;
}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

