
.carousel-inner {
    max-height: 39rem;
}

.dropdown-item:hover {
    background-color: #f8f9fa !important;
}

/* Estilo para el menú */
#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}