
.carousel-inner {
    max-height: 39rem;
    min-height: 39rem;
    object-fit: contain;
    object-position: center;
    background-color: rgba(30, 30, 47, 0.8)
}

.dropdown-item:hover {
    background-color: #f8f9fa !important;
}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}


:root {
  font-family: 'Montserrat', sans-serif;
}


.dashboard-container {
  position: relative;
  min-height: 100vh;
  padding: 1rem;

}

.logout-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}